/*body{
    font-size: 32px;
}
*/

:root{
    font-size: 18px;
    background: linear-gradient(#0e76a8, #25D366)
}

h1{
    border: 5px solid red;
    width: 700px;
    padding: 10px 15px 5px;
    margin: 5px;
    color: blue;
    text-align: center;
    font-style: italic;
}

h2{
    color: red;
    text-align: center;
    font-style: italic;
}

i{
    font-size:2rem;
}

.bxl-whatsapp{
    color:#25D366;
}

.bxl-linkedin{
    color:#0e76a8;
}
